<ng-container *ngrxLet="productList$ as products">
    <div *ngFor="let element of products" style="width: 100%;">
        <app-product-row class="product-row-card" [product]="element"></app-product-row>
    </div>
</ng-container>
