.product-row{
    ::ng-deep .p-card.p-component{
        padding: 0;
    }
    ::ng-deep .p-card-body{
        padding: 0 1rem;
    }

    ::ng-deep .p-inputnumber-input.p-inputtext.p-component.p-filled{
        width: 100%;
        margin-right: 2rem;
        text-align: center;
    }
    

}

