<div class="product-row">
    <p-card>
        <div class="p-d-flex p-ai-center">
            <div class="p-col-4">
                <span>
                    {{product.name}} {{product.type}} {{product.brand}}
                </span>
                <span>
                    <i class="pi pi-info-circle" pTooltip="{{product.description}}" tooltipPosition="top"></i>
                </span>
            </div>
            <div class="p-col-4">
                <span>
                    {{product.heading}}
                </span>
            </div>
            <div class="p-col-1">
                <span>
                    {{product.package.unitsPerPack}} {{product.package.measure}}
                </span>
            </div>
            <div class="p-col-1">
                <p-inputNumber class="p-ai-center p-mr-3" [(ngModel)]="quantity"></p-inputNumber>
            </div>
            <div class="p-col-2" *ngIf="product.price.length < 2; else prices">
                <span>
                    {{product.price[0].currency | priceFormatter: product.price[0].price}}
                </span>
            </div>
        </div>
    </p-card>
</div>

<ng-template #prices>
    <p-button [label]="'Oferta'" icon="pi pi-search" (click)="op.toggle($event)"></p-button>
    <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
        <ng-template pTemplate>
            <p-table [value]="product.price" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-price>
                    <tr [pSelectableRow]="rowData">
                        <td>{{price.quantity}}</td>
                        <td>{{price.currency | priceFormatter: price.price}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
    </p-overlayPanel>
</ng-template>
